$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #9083D5;
$gray-color: #C2C2C2;
$gray-light-color: #F9FAFB;
$gray-lighter-color: #E5E7EB;
$white-color: #fff;
$dark-light-color: #333;
$linear-color: linear-gradient(to right, #9083D5, #807593);
