.contain{

}

.login-container{
    width: 40%;
    margin-left: auto;
    background-color: $gray-lighter-color;
    padding: 100px;

    &-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            margin-bottom: 10px;
        }
    }

    &-body{
        div{
            margin-bottom: 20px;
        }

        label{
            display: block;
            width: 100%;
            margin-bottom: 10px;
            color: $gray-color;
        }

        input{
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            border: 2px solid $gray-color;
        }

        a{
            color: $dark-light-color;
            text-decoration: none;
        }
    }

   
}