.totalview{
    padding: 40px 70px;

    p{
        font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }

    &-box{
        border-radius: 15px;
border: 1px solid #979797;
background: #FFF;
    }
}